@keyframes fadeInOpacity {
	0% {
        opacity: 0;
        transform: translateX(-50px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

main {
    width: 80%;
    height: 100vh;
    margin: auto;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
    animation-timing-function: linear;
	animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-wrap: wrap;
}


.contactSheet {
    width: 50%;
    height: 100%;
    display: block;
}

#smallCards {
    width: 50%;
}
.smallCard {
    height: 45%;
}


form {
    position: relative;
    width: 95%;
    margin: auto;
    height: 80%;
    box-shadow: 0 10px 20px -10px #998B8B;
    background-color: white;
    margin-top: 3em;
    
}

fieldset {
    width: 90%;
    margin: auto;
    margin-top: 0;
    border: none;
    
}

label {
    display: inline-block;
    margin: 1em;
    margin-left: 0;
}

input {
    font-size: larger;
    width: 100%;
    height: 2em;
    box-shadow:inset 0 1px 5px -2px #998B8B;
    border: none;
 
}

textarea {
    height: 15em;
    width: 100%;
    border: none;
    box-shadow:inset 0 1px 5px -2px #998B8B;
    font-size: larger;
}

#submitButton {
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    bottom: 5%;
    padding: 2em;

}


.card {
    width: 95%;
    margin: auto;
    height: 16em;
    box-shadow: 0 10px 20px -10px #998B8B;
    background-color: white;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}


.card img {
  width: 100%;
}

.card article {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 0;
}

.card a {
    width: 15%;
    margin: auto;
    margin-top: 3em;
}

.card a:hover {
    border: none;
}

@media screen and (max-width: 90em) { 

    form {
        height: auto;
    }

    textarea {
        height: 8em;
    }   

    #submitButton {
        position: relative;
        padding: 1em;
        width: 100%;
    }
}


@media screen and (max-width: 60em) { 
    
    main {
        width: 100%;
    }
    
    .contactSheet {
        width: 100%;
        height: auto;
    }

    #smallCards {
        width: 100%;
    }
}