@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);


#mobileHeader {
    display: none;
    color: white;
    padding: 1em;
}


html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1.1em;
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(243, 243, 243);
}

main {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: rgba(122, 122, 122, 0.9);
}

header nav {
    width: 90%;
    padding: 1em;
    margin: auto;
}

header li{
    list-style: none;
    display: inline;
}


header nav li {
    list-style: none;
    padding: 0;
    margin-right: 5em;
    
}

footer {
    background-color: rgba(122, 122, 122, 0.9);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 1em;
}


nav .right {
    float: right;
    margin: 0;
}

a {
    text-decoration: none;
    padding-bottom: .3em;
    color: black;
}

header nav li a {
    color: white;
}

header nav li a:hover {
    border-bottom:  1px solid white;
}


a:hover {
    border-bottom: 2px black solid ;
}

.typewriter {
    display: hidden;
}


.underline {
    border-bottom: 1px solid white;
}

button {
    padding: 1em 2em;
    border: none;
    background-color: rgb(122,122,122, 0.9);
    color: white;
    font-size: 0.9em;
    letter-spacing: inherit;
    font-weight: inherit;
}

button:hover {
    background-color:rgb(122,122,122); 
    cursor: pointer;
}

button img {
    width: 1em;
    margin-left: 5px;
}


#totopbutton {
    display: none;
}

@media screen and (max-width: 60em) {
    #mobileHeader {
        display: flex;
        position: relative;
        z-index: 2;
    }

    #mobileHeader h1 {
        margin: 0;
        width: 90%;
    }

    #mobileHeader h3 {
        margin: 0;
        width: 90%;
    }


    nav {
        display: none;
    }

    #siteNav {
        width: 100%;
    }


    #navMenuImage {
        transition: 1s;
        display: flex;
        width: 40px;
        height: 40px;
        right: 0;
        z-index: 1;
    }

    nav {
        z-index: 1;
        position: fixed;
        top: 85px;
        right: 0;
        left: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #siteNav {
        padding: 0;
        margin: 0;
    }

    #siteNav ul {
        width: 100%;
        margin-top: 25%;
        border-bottom: none;
        text-align: center;
        font-size: 25px;
    }

    header nav li a {
        color: black;    
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }

    nav .right {
        float: none;
    }
    
    #ToTopButton {
        display: block;
        width: 3em;
        height: 3em;
        position: fixed;
        bottom: 100px;
        right: 30px;

    }

}