main {
    width: 40%;
    margin: auto;
    padding: 1em;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}


main a {
    font-weight: bold;
}


#title {
    width: 50%;
}

#skills {

    width: 50%;
    text-align: right;
}

#title h1 {
    margin: 0;
    padding-bottom: 0;
}

#title h3 {
    margin-top: .5em;
}


