@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

span{
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5em;

}


nav {
    display: inline;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    width: 80%;
    margin: auto;
    padding: 0;
    
}

nav li {
    display: inline-block;
    padding: 1em;
}

nav .right {
    float: right;
}



a {
    text-decoration: none;
    padding-bottom: .3em;
    color: black;

}


nav a:hover {
    border-bottom: 2px black solid ;
}

.typewriter {
    display: hidden;
}